<section id="logs">
    <form>
        <input ng-model="searchTerm" placeholder="Search for logs. Use the following notation: <column_type>:<search_word>; Example: level:Information; date and time:3/30;">
        <button class="btn btn-default" ng-click="search()" type="submit">Search</button>
    </form>
    <button class="btn btn-default prevPage" ng-disabled="page == 1" ng-click="prevPage()">&lt;</button>
    <span ng-show="pagination.logs.length > 0">{{1 + offset}}&ndash;{{getTopRange()}} of {{pagination.totalSize}} results </span>
    <button class="btn btn-default nextPage" ng-disabled="!canGoToNextPage()" ng-click="nextPage()">&gt;</button>
    <div class="row log" ng-repeat="log in pagination.logs">
        <button class="btn btn-danger removeLogBtn" ng-click="removeLog(log.id)">X</button>
        <div class="col-md-4 logStats">
            <div class="row">
                <span class="col-md-4">Level</span>
                <span class="col-md-8">{{log.level}}</span>
            </div>
            <div class="row">
                <span class="col-md-4">Date and Time</span>
                <span class="col-md-8">{{log.dateTime}}</span>
            </div>
            <div class="row">
                <span class="col-md-4">Source</span>
                <span class="col-md-8">{{log.source}}</span>
            </div>
            <div class="row">
                <span class="col-md-4">Event Id</span>
                <span class="col-md-8">{{log.eventId}}</span>
            </div>
            <div class="row">
                <span class="col-md-4">Task Category</span>
                <span class="col-md-8">{{log.taskCategory}}</span>
            </div>
        </div>
        <div class="col-md-8 logMessage">
            {{log.info}}
        </div>
    </div>
</section>