.navbar-inverse .navbar-brand {
    color: #ffffff;
    cursor: default;
}

/*Log Code*/
#logs {
    margin-top: 50px;
    padding: 5px 30px;
}

#logs input {
    width: 80%;
    height: 35px;
    padding-left: 5px;
    border-radius: 4px;
    border-style: none;
    border: 1px solid #ccc;
    outline: none;
}

#logs input:focus {
    outline: #498fff solid 1px;

}

/*Add Logs Code*/
#add {
    margin-top: 50px;
    padding: 5px 30px;
}

#add .btn-file {
    position: relative;
    overflow: hidden;
}
#add .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}